[class^=mobile-] {
  display: none;
}
@media screen and (max-width: 640px) {
  [class^=mobile-] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
*::-webkit-scrollbar-thumb {
  background-color: #666;
}
[class~=mobile-hidden] {
  display: block;
}
@media screen and (max-width: 640px) {
  [class~=mobile-hidden] {
    display: none;
  }
}
.iconfont {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.iconsvg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
}
html,
body {
  min-width: 1210px;
  _width: expression(document.body.clientWidth < 1210 ? "1210px" : "auto");
  overflow-x: auto!important;
}
@media screen and (max-width: 640px) {
  html,
  body {
    position: relative;
    overflow-x: hidden!important;
    width: 100%;
    min-height: 100%;
    _height: expression(this.scrollHeight < 100 ? "100px" : "auto");
    height: 100%;
    min-width: auto;
    _width: expression(document.body.clientWidth < NaN ? "NaNpx" : "auto");
  }
  html body,
  body body {
    overflow: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.width_main {
  width: 1210px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .width_main {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -215px;
  margin-top: -280px;
  width: 430px;
  height: 560px;
}
.login .hd {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #1bc57f;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.login .hd:before {
  content: " ";
  position: absolute;
  border: 1px solid #1bc57f;
  width: 200px;
  height: 0;
  left: -202px;
  top: 50%;
}
.login .hd:after {
  content: " ";
  position: absolute;
  border: 1px solid #1bc57f;
  width: 200px;
  height: 0;
  right: -202px;
  top: 50%;
}
.login .bd {
  padding-top: 80px;
  text-align: center;
}
.login .bd .form_group {
  margin-bottom: 10px;
}
.login .bd .form_group .input_text {
  border-bottom: 1px solid #f2f2f2;
  width: 80%;
  height: 60px;
  font-size: 16px;
  text-indent: 10px;
}
.login .bd .form_group .input_text:focus {
  border-bottom-color: #159862;
}
.login .ft {
  padding-top: 40px;
  text-align: center;
}
.login .ft .input_btn {
  width: 200px;
  height: 50px;
  background: #1bc57f;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
.login .ft .input_btn:hover {
  background: #159862;
}
.login .ft .input_btn:active {
  background: #0f6b45;
}
.login .ft .btn {
  color: #999;
  line-height: 50px;
}
.login .ft .btn:hover {
  color: #30e399;
}
.wp {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
}
.header {
  -webkit-box-shadow: 0 2px 2px #1bc57f;
     -moz-box-shadow: 0 2px 2px #1bc57f;
          box-shadow: 0 2px 2px #1bc57f;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  line-height: 50px;
  position: relative;
  z-index: 999;
}
.header .icon_wp {
  width: 32px;
  height: 32px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #1bc57f;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  line-height: 32px;
  text-align: center;
  color: #1bc57f;
  margin-right: 8px;
}
.header a {
  color: #333;
}
.header a:hover {
  color: #1bc57f;
}
.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_l {
  overflow-y: auto;
  border-right: 1px solid #1bc57f;
  width: 150px;
}
.main_r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.main_r_contain {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
}
.nav {
  line-height: 40px;
}
.nav a {
  color: #333;
}
.nav a:hover,
.nav .curr {
  color: #1bc57f;
}
.nav .hd {
  text-indent: 1em;
}
.nav .hd a {
  display: block;
}
.nav .item dt {
  background: #1bc57f;
  color: #fff;
  text-indent: 1em;
  font-size: 16px;
}
.nav .item a {
  border-bottom: 1px solid #f2f2f2;
  display: block;
  text-indent: 1.5em;
}
.mod-menu1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: 840px;
}
.mod-menu1 a {
  width: 400px;
  margin: 0 20px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #1dd78b;
  color: #fff;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  font-size: 18px;
}
.mod-menu1 a:hover {
  background: #1cc982;
  color: #fff;
}
.form {
  width: 1440px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 20px;
}
.form .hd,
.form .bd,
.form .ft {
  width: 100%;
}
.form .title1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.form .form-group_wp {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}
.form .form-group {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
  position: relative;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form .form-group .label {
  width: 200px;
  text-align: right;
  padding-right: 20px;
}
.form .form-group .label .form-control {
  text-align: right;
}
.form .form-group .form-control {
  font-size: 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 40px;
  _height: expression(this.scrollHeight < 40 ? "40px" : "auto");
  text-indent: 1em;
  border: none;
  border-bottom: 1px solid #1bc57f;
}
.form .form-group .form-control::-webkit-input-placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group .form-control:-moz-placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group .form-control::-moz-placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group .form-control:-ms-input-placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group .form-control::-ms-input-placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group .form-control::placeholder,
.form .form-group .form-control.form-control_placeholder {
  color: #999;
  font-size: 14px;
}
.form .form-group input[type=file] {
  display: none;
}
.form .form-group .readonly {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  text-indent: 1em;
}
.form .form-group .tip {
  position: absolute;
  font-size: 12px;
  font-style: italic;
  color: #999;
  right: 20px;
  top: 15px;
  line-height: 1;
  display: none;
}
.form .form-group .tip a {
  color: #999;
}
.form .form-group .btn-del {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}
.form .form-group .btn-del:hover {
  color: #1bc57f;
}
.form .form-group:hover .btn-del,
.form .form-group:hover .tip {
  display: block;
}
.form .form-group.form-group-editor {
  height: 450px;
  padding-bottom: 2px;
}
.form .form-group.form-group-editor .edui-default {
  border: none;
  text-indent: 0;
  line-height: 1;
}
.form .form-group.form-group-editor .edui-default .edui-editor {
  border: 1px solid #d4d4d4;
}
.form .form-group.form-group-news_pubilc .form-control,
.form .form-group.form-group-product_pubilc .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.form .form-group.form-group-news_pubilc .form-control .btn-add,
.form .form-group.form-group-product_pubilc .form-control .btn-add {
  cursor: pointer;
  background: #666;
  color: #fff;
  padding: 0 4px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 8px 0 10px 10px;
  text-align: center;
  text-indent: 0;
}
.form .form-group.from-group-product_img .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .form-group.from-group-product_img .form-control .img {
  width: 80px;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.form .form-group.from-group-product_img .form-control .img .btn-del_img {
  height: 26px;
  line-height: 26px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-indent: 0;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
:root .form .form-group.from-group-product_img .form-control .img .btn-del_img {
  -webkit-filter: none\9;
          filter: none\9;
}
.form .form-group.from-group-product_img .form-control .img:hover .btn-del_img {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  display: block;
}
.form .form-group.from-group-product_img .form-control .btn-add {
  cursor: pointer;
  background: #666;
  color: #fff;
  padding: 0 4px;
  height: 24px;
  font-size: 12px;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 10px 0 10px 10px;
  text-align: center;
  text-indent: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
}
.form .form-group.form-group-banner_pageSelect .form-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.form .btn1 {
  color: #fff;
  background: #1bc57f;
  padding: 0 20px;
  height: 32px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 32px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.form .btn-submit {
  color: #fff;
  background: #1bc57f;
  width: 200px;
  height: 41px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 32px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
}
.title2 {
  width: 840px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #1bc57f;
  line-height: 40px;
  font-weight: bold;
  padding: 0 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title2 .t {
  color: #1bc57f;
  font-size: 16px;
}
.title2 a {
  background: #666;
  color: #fff;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
}
.list1 {
  width: 840px;
  padding-top: 20px;
}
.list1 .item {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  line-height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list1 .item .item_l {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
  padding-right: 20px;
}
.list1 .item .item_l:hover {
  color: #1bc57f;
}
.list1 .item .item_r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  height: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 640px;
  _width: expression(document.body.clientWidth > 640 ? "640px" : "auto");
}
.list1 .item .item_r .btn {
  background: #1bc57f;
  color: #fff;
  margin: 0 5px;
  padding: 0 5px;
  -webkit-box-shadow: 0 1px 0 #999;
     -moz-box-shadow: 0 1px 0 #999;
          box-shadow: 0 1px 0 #999;
  cursor: pointer;
}
.list1 .item .item_r .btn:hover {
  text-shadow: 0 1px 0 #333;
}
.list1 .item:nth-child(2n) {
  background: #f2f2f2;
}
.list1 .item.item-important .item_l {
  font-weight: bold;
}
.list1 .item.item-page_slect {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  _height: expression(this.scrollHeight < 40 ? "40px" : "auto");
  height: auto;
}
.list1 .item.item-page_slect .item_r {
  margin: 0 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.list1 .item.item-page_slect .item_r label {
  margin: 0 4px;
}
.list1 .item:hover {
  background: #aaa;
}
.list1 .item:hover .item_l:hover {
  color: #fff;
}
.list1 .page {
  padding: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list1 .page a,
.list1 .page span {
  background: #1bc57f;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 15px;
  color: #fff;
  line-height: 32px;
  margin: 0 2px;
}
.list1 .page span {
  color: #333;
  font-weight: bold;
  background: none;
}
/*# sourceMappingURL=default.css.map */