@font-face {
  font-family: "iconfont"; /* Project id 3869594 */
  src: url('iconfont.woff2?t=1682295524607') format('woff2'),
       url('iconfont.woff?t=1682295524607') format('woff'),
       url('iconfont.ttf?t=1682295524607') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr_r_filling:before {
  content: "\e7b9";
}

.icon-friend_group:before {
  content: "\e64f";
}

.icon-address:before {
  content: "\e60d";
}

.icon-kjfw:before {
  content: "\e67b";
}

.icon-weixin:before {
  content: "\e660";
}

.icon-right:before {
  content: "\e68b";
}

.icon-minus:before {
  content: "\e828";
}

.icon-dianhuaben:before {
  content: "\e62a";
}

.icon-gonggao:before {
  content: "\e63f";
}

.icon-scan:before {
  content: "\e6df";
}

.icon-arr_t:before {
  content: "\e949";
}

.icon-arrowdown:before {
  content: "\e664";
}

.icon-arr_l:before {
  content: "\e685";
}

.icon-operate:before {
  content: "\e60a";
}

.icon-user_add:before {
  content: "\e601";
}

.icon-qrcode:before {
  content: "\e60c";
}

.icon-ziyuan:before {
  content: "\e63d";
}

.icon-icon:before {
  content: "\e65b";
}

.icon-hidden:before {
  content: "\e60b";
}

.icon-tabbar_find:before {
  content: "\e603";
}

.icon-tabbar_find_active:before {
  content: "\e605";
}

.icon-tabbar_chat:before {
  content: "\e600";
}

.icon-tabbar_chat_active:before {
  content: "\e602";
}

.icon-upload:before {
  content: "\e615";
}

.icon-publish:before {
  content: "\e77e";
}

.icon-favorite_active:before {
  content: "\e604";
}

.icon-menu_security:before {
  content: "\e681";
}

.icon-more:before {
  content: "\e8c4";
}

.icon-favorite:before {
  content: "\e689";
}

.icon-download:before {
  content: "\e62d";
}

.icon-group:before {
  content: "\e675";
}

.icon-collect:before {
  content: "\e607";
}

.icon-shoucang3:before {
  content: "\e659";
}

.icon-close:before {
  content: "\e903";
}

.icon-speech:before {
  content: "\e606";
}

.icon-tuichu:before {
  content: "\e622";
}

.icon-24gf-delete:before {
  content: "\eb10";
}

.icon-expression:before {
  content: "\e609";
}

.icon-tupian:before {
  content: "\e666";
}

.icon-menu_usdt:before {
  content: "\e667";
}

.icon-arrowBottom:before {
  content: "\e65d";
}

.icon-menu_account:before {
  content: "\e618";
}

.icon-menu_bank:before {
  content: "\e61a";
}

.icon-menu_hongbao_record:before {
  content: "\e623";
}

.icon-menu_wallet_record:before {
  content: "\e627";
}

.icon-arr_r:before {
  content: "\e688";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-code:before {
  content: "\e625";
}

.icon-fankui1:before {
  content: "\e62f";
}

.icon-show:before {
  content: "\e671";
}

.icon-add:before {
  content: "\e674";
}

.icon-faxian:before {
  content: "\e608";
}

.icon-tabbar_address_book_active:before {
  content: "\e6c2";
}

.icon-menu_moments:before {
  content: "\e684";
}

.icon-icon-sign:before {
  content: "\e747";
}

.icon-menu_customer_service:before {
  content: "\e6b6";
}

.icon-search:before {
  content: "\e63c";
}

.icon-qiandao1:before {
  content: "\e696";
}

.icon-menu_setting:before {
  content: "\e6de";
}

.icon-sousuo1:before {
  content: "\e626";
}

.icon-menu_sign_record:before {
  content: "\e687";
}

.icon-collect_active:before {
  content: "\e8c6";
}

.icon-menu_collect:before {
  content: "\e616";
}

.icon-tabbar_member_active:before {
  content: "\e679";
}

.icon-tabbar_member:before {
  content: "\e67a";
}

.icon-qiandao2:before {
  content: "\e686";
}

.icon-shezhi1:before {
  content: "\e6a5";
}

.icon-arrow:before {
  content: "\e619";
}

.icon-tabbar_address_book:before {
  content: "\e6ae";
}

.icon-qiandao-xianxing3-0:before {
  content: "\e6b1";
}

.icon-menu_profile:before {
  content: "\e926";
}

.icon-sign:before {
  content: "\e617";
}

.icon-wallet:before {
  content: "\e63e";
}

