
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--指定文件兼容模式，其它:IE=4，IE=7，IE=8，IE=EmulateIE7，IE=a(ie5模式)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--指定360浏览器使用极速内核-->
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--ie6背景缓存，支持png24-->
    <!--[if IE 6]>
        <script type="text/javascript"> try {document.execCommand("BackgroundImageCache", false, true);} catch(e){}</script>
        <script type="text/javascript" src="http://cdn.staticfile.org/dd_belatedpng/0.0.8/dd_belatedpng.min.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.pngimage');
        </script>
    <![endif]-->
    <!--ie9以下识别html5标签,个别浏览器无json对象-->
    <!--[if lt IE 9]>
        <script type="text/javascript">(function(){var e="article,aside,footer,header,hgroup,nav,section,time".split(","),t=e.length;while(t--)document.createElement(e[t])})();
        </script>
        <style type="text/css" media="screen">article,aside,footer,header,hgroup,nav,section{display:block}</style>
        <script type="text/javascript" src="http://cdn.staticfile.org/json2/20140204/json2.min.js"></script>
    <![endif]-->
    <!--ie9以下包括ie9支持css3样式,线性渐变需要在cssText里加入-pie-background: linear-gradient(#EEFF99, #66EE33);ie9包括ie9不支持html5，placeholder-->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="http://cdn.staticfile.org/pie/1.0beta5/PIE.min.js"></script>
        <script type="text/javascript" src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
    <![endif]-->
    <title>文档的标题</title>
    <meta name="keywords" content="关键字" />
    <meta name="description" content="描述" />
    <!--respond.min.js,ie8以下支持media多媒体查询;必须在所有样式的最下面-->
    <!--[if lt IE 9]>
        <script type='text/javascript' src="http://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--ie不支持video标签建议用jplayer，官网:http://www.jplayer.org,国内:http://www.jplayer.cn;或者videojs，官网:http://www.videojs.com-->
</head>
<body>
    这个是详情页面
</body>
</html>