<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <title>fsa</title>
    </head>
    <body>
    11111111111111111111111111111111111111
    <%-

        this.require(__dirname+'/fet.fet.js').name;
    %>
    </body>
</html>
