<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>聊天</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
    <style type="text/css">
        [id^=page_] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="wp">
        <div id="page_chat">
            <div class="topbar topbar_fixed">
                <div class="topbar_inner">
                    <div class="topbar_l">
                    </div>
                    <div class="topbar_c">
                        聊天
                    </div>
                    <div class="topbar_r">
                        <a href="" class="btn-add_gray">
                            <span class="iconfont icon-add"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-chat">
                <div class="searchbox_wp">
                    <div class="searchbox">
                        <div class="icon-wp">
                            <span class="iconfont icon-search"></span>
                        </div>
                        <div class="form-control">
                            <input type="text" class="input_text" placeholder="搜索昵称或聊天记录">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar1.png);">
                                <span class="badge active">
                                    2
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                微笑
                            </div>
                            <div class="content">
                                哈喽啊
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                15:30
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar2.png);">
                                <span class="badge">

                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                待到山花烂漫时
                            </div>
                            <div class="content">
                                【语音通话】
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                09:20
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar3.png);">
                                <span class="badge">
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                微笑
                            </div>
                            <div class="content">
                                新年好！祝愿您和您的家人：新春大吉…人：新春大吉…
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                1-26
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar4.png);">
                                <span class="badge">
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                一瞥惊鸿
                            </div>
                            <div class="content">
                                【微信红包】
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                1-18
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar5.png);">
                                <span class="badge">
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                待到山花烂漫时
                            </div>
                            <div class="content">
                                福启新岁，万事顺遂！
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                09:20
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar6.png);">
                                <span class="badge">
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                微笑
                            </div>
                            <div class="content">
                                恭喜发财，大吉大利！
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                1-26
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_l">
                            <div class="avatar" style="background-image: url(images/avatar7.png);">
                                <span class="badge">
                                </span>
                            </div>
                        </div>
                        <div class="item_c">
                            <div class="title">
                                一瞥惊鸿
                            </div>
                            <div class="content">
                                【微信红包】
                            </div>
                        </div>
                        <div class="item_r">
                            <div class="time">
                                1-18
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="page_addressBook">
            <div class="topbar topbar_fixed">
                <div class="topbar_inner">
                    <div class="topbar_l">
                    </div>
                    <div class="topbar_c">
                        通讯录
                    </div>
                    <div class="topbar_r">
                        <a href="" class="btn-add_gray">
                            <span class="iconfont icon-add"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-address_book">
                <div class="searchbox_wp">
                    <div class="searchbox">
                        <div class="searchbox_inner">
                            <div class="icon-wp">
                                <span class="iconfont icon-search"></span>
                            </div>
                            <div class="form-control">
                                <input type="text" class="input_text" placeholder="搜索关键词">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="item-group" id="top">
                        <div class="item item-user_add">
                            <div class="avatar">
                                <span class="iconfont icon-user_add"></span>
                            </div>
                            <div class="name">
                                新的朋友
                            </div>
                        </div>
                        <div class="item item-user_group">
                            <div class="avatar">
                                <span class="iconfont icon-group"></span>
                            </div>
                            <div class="name">
                                群组
                            </div>
                        </div>

                    </div>
                    <div class="item-group" id="A">
                        <div class="item item-index">
                            A
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                啊呀
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                阿凌
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                安娜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar4.png);"></div>
                            <div class="name">
                                A伊娃
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar5.png);"></div>
                            <div class="name">
                                艾琳
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="B">
                        <div class="item item-index">
                            B
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="C">
                        <div class="item item-index">
                            C
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="D">
                        <div class="item item-index">
                            D
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="E">
                        <div class="item item-index">
                            E
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="F">
                        <div class="item item-index">
                            F
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="G">
                        <div class="item item-index">
                            G
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="H">
                        <div class="item item-index">
                            H
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="I">
                        <div class="item item-index">
                            I
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="J">
                        <div class="item item-index">
                            J
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="K">
                        <div class="item item-index">
                            K
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="L">
                        <div class="item item-index">
                            L
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="M">
                        <div class="item item-index">
                            M
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="N">
                        <div class="item item-index">
                            N
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="O">
                        <div class="item item-index">
                            O
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="P">
                        <div class="item item-index">
                            P
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="Q">
                        <div class="item item-index">
                            Q
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="R">
                        <div class="item item-index">
                            R
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="S">
                        <div class="item item-index">
                            S
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="T">
                        <div class="item item-index">
                            T
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="U">
                        <div class="item item-index">
                            U
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="V">
                        <div class="item item-index">
                            V
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="W">
                        <div class="item item-index">
                            W
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="X">
                        <div class="item item-index">
                            X
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="Y">
                        <div class="item item-index">
                            Y
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="Z">
                        <div class="item item-index">
                            Z
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                    <div class="item-group" id="other">
                        <div class="item item-index">
                            #
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                卜卜
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                白茶
                            </div>
                        </div>
                        <div class="item">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                BlingBling
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside_bar_index">
                <div class="item" data-target="top">
                    <span class="icon-wp">
                        <span class="iconfont icon-arr_t"></span>
                    </span>
                    <div class="show">
                        <span class="icon-wp">
                            <span class="iconfont icon-arr_t"></span>
                        </span>
                    </div>
                </div>
                <div class="item" data-target="A">
                    A
                    <div class="show">A</div>
                </div>
                <div class="item" data-target="B">
                    B
                    <div class="show">B</div>
                </div>
                <div class="item" data-target="C">
                    C
                    <div class="show">C</div>
                </div>
                <div class="item" data-target="D">
                    D
                    <div class="show">D</div>
                </div>
                <div class="item" data-target="E">
                    E
                    <div class="show">E</div>
                </div>
                <div class="item" data-target="F">
                    F
                    <div class="show">F</div>
                </div>
                <div class="item" data-target="G">
                    G
                    <div class="show">G</div>
                </div>
                <div class="item" data-target="H">
                    H
                    <div class="show">H</div>
                </div>
                <div class="item" data-target="I">
                    I
                    <div class="show">I</div>
                </div>
                <div class="item" data-target="J">
                    J
                    <div class="show">J</div>
                </div>
                <div class="item" data-target="K">
                    K
                    <div class="show">K</div>
                </div>
                <div class="item" data-target="L">
                    L
                    <div class="show">L</div>
                </div>
                <div class="item" data-target="M">
                    M
                    <div class="show">M</div>
                </div>
                <div class="item" data-target="N">
                    N
                    <div class="show">N</div>
                </div>
                <div class="item" data-target="O">
                    O
                    <div class="show">O</div>
                </div>
                <div class="item" data-target="P">
                    P
                    <div class="show">P</div>
                </div>
                <div class="item" data-target="Q">
                    Q
                    <div class="show">Q</div>
                </div>
                <div class="item" data-target="R">
                    R
                    <div class="show">R</div>
                </div>
                <div class="item" data-target="S">
                    S
                    <div class="show">S</div>
                </div>
                <div class="item" data-target="T">
                    T
                    <div class="show">T</div>
                </div>
                <div class="item" data-target="U">
                    U
                    <div class="show">U</div>
                </div>
                <div class="item" data-target="V">
                    V
                    <div class="show">V</div>
                </div>
                <div class="item" data-target="W">
                    W
                    <div class="show">W</div>
                </div>
                <div class="item" data-target="X">
                    X
                    <div class="show">X</div>
                </div>
                <div class="item" data-target="Y">
                    Y
                    <div class="show">Y</div>
                </div>
                <div class="item" data-target="Z">
                    Z
                    <div class="show">Z</div>
                </div>
                <div class="item" data-target="other">
                    #
                    <div class="show">#</div>
                </div>

            </div>
        </div>
        <div id="page_find">
            <div class="topbar">
                <div class="topbar_inner">
                    <div class="topbar_l">
                    </div>
                    <div class="topbar_c">
                        发现
                    </div>
                    <div class="topbar_r">
                        <a href="" class="btn-publish">
                            <span class="iconfont icon-search"></span>
                        </a>
                        <a href="" class="btn-publish ml20">
                            <span class="iconfont icon-add"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-find">
                <a href="" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_moments"></span>
                        </span>
                        朋友圈
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-scan"></span>
                        </span>
                        扫一扫
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-gonggao"></span>
                        </span>
                        公告
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
            </div>

        </div>
        <div id="page_member">
            <div class="panel-member_userinfo">
                <a href="qrcode.html" class="hd">
                    <div class="hd_l">
                        <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                    </div>
                    <div class="hd_c">
                        <div class="name">我是胡歌呀</div>
                        <div class="user_id">
                            ID:4555101235
                        </div>
                    </div>
                    <div class="hd_r">
                        <div class="more">
                            <div class="icon-wp">
                                <span class="iconfont icon-qrcode"></span>
                            </div>
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
                <div class="bd">
                    <a href="sign.html" class="item">
                        <div class="icon-wp">
                            <span class="iconfont icon-sign"></span>
                        </div>
                        每日签到
                    </a>
                    <a href="wallet.html" class="item">
                        <div class="icon-wp">
                            <span class="iconfont icon-wallet"></span>
                        </div>
                        我的钱包
                    </a>
                </div>
            </div>
            <div class="list-member_menu">
                <a href="profile.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_profile"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        个人资料
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="collect.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_collect"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        我的收藏
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="find.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_moments"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        朋友圈
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="sign.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_sign_record"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        签到记录
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="chat_box.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_customer_service"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        联系客服
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="setting.html" class="item">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_setting"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        设置
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
            </div>

        </div>
        <div class="tabbar">
            <div class="tabbar_inner">
                <a href="/chat" class="item active">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_chat_active"></span>
                    </div>
                    聊天
                </a>
                <a href="/addressBook" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_address_book"></span>
                    </div>
                    通讯录
                </a>
                <a href="/find" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_find"></span>
                    </div>
                    发现
                </a>
                <a href="/member" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_member"></span>
                    </div>
                    我的
                </a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript">
    function navigate(e) {
        let targetPage = $(e).attr('href');
        window.history.pushState(null, '', targetPage);
        updateView();
    }
    function renderPage(pathOrg) {
        path = pathOrg.substr(1);
        var pageId = "";
        if (path == '' || path == 'chat1.html' || path == 'chat') {
            path = 'chat';
        }
        pageId = 'page_' + path;
        $('[id^="page_"]').each(function (index, el) {
            if ($(el).attr('id') !== pageId) {
                $(el).hide(0);
            }
        });
        $('#' + pageId).show(0);
        //共用处理
        $(".wp")[0].className = "wp";
        $(".tabbar .item").each(function (index, el) {
            $(el).removeClass('active');
            $(el).find('.iconfont')[0].className = $(el).find('.iconfont')[0].className.replace(/_active/, '');
            if ($(el).attr('href') == '/' + path) {
                $(el).addClass('active');
                $(el).find('.iconfont')[0].className = $(el).find('.iconfont')[0].className + '_active';
            }
        });
        //针对不同页面做不同处理
        if (pageId === 'page_find') {
            $(".wp").addClass('wp-find');
        }
        if (pageId === "page_member") {
            $(".wp").addClass('wp-member');
        }
    }
    function updateView() {
        const path = window.location.pathname;
        renderPage(path);
    }
    // 监听 popstate 事件，以便在点击后退按钮时更新内容
    window.addEventListener('popstate', (e) => {
        updateView();
    });

    updateView();
    $('.tabbar a').click(function (e) {
        e.preventDefault();
        navigate($(this));
    });
</script>

</html>