<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>选择一张背景</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-gray">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    选择一张背景
                </div>
                <div class="topbar_r">
                </div>
            </div>
        </div>
        <div class="panel-background_select">
            <div class="list">
                <div class="item item_checked">
                    <div class="img_wp" style="background-image: url(images/img_find1.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">默认背景</div>
                </div>
                <label class="item">
                    <input type="file" class="input_file">
                    <div class="img_wp">
                        <span class="iconfont icon-add"></span>
                    </div>
                    <div class="name">
                        自定义添加
                    </div>
                </label>
            </div>
            <div class="title">
                推荐背景
            </div>
            <div class="list">
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find1.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find2.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find3.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find1.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find2.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>
                <div class="item">
                    <div class="img_wp" style="background-image: url(images/img_find3.jpg);">
                        <span class="status">
                            <span class="iconfont icon-right"></span>
                        </span>
                    </div>
                    <div class="name">图片名称</div>
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>