<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>评论</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
    <link rel="stylesheet" href="styles/swiper-bundle.min.css" />
</head>
<body>
    <div class="wp">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    发评论
                </div>  
                <div class="topbar_r">
                    <a href="" class="btn-save">发送</a>
                </div> 

            </div>
        </div>
        <div class="form-style1 form-comment">
            <div class="form-style1_inner">
                <div class="form-group">
                    <textarea name="" id="textareaChatInput" placeholder="发表评论" cols="30" rows="10" class="input_textarea" style="height:3rem;"></textarea>
                </div>
            </div>
            <div class="tool">
                <button class="btn-expression">
                    <span class="iconfont icon-expression"></span>
                </button>
            </div>
            <div class="tool-emoji">
                <div class="swiper swiper-emoji">
                    <div class="swiper-wrapper">
                        <!-- <div class="swiper-slide"><img src="images/ad_buycar.jpg" alt=""></div>
                      <div class="swiper-slide">Slide 2</div>
                      <div class="swiper-slide">Slide 3</div> -->
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="btn-emoji_del"><img src="images/emoji_del.svg" alt=""></button>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/emoji.js"></script>
<script type="text/javascript" src="scripts/swiper-bundle.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>
<script type="text/javascript">
            //初始化表情
        var EmojiHtmls = ''; EmojiHtmlsTemp = '<div class="swiper-slide">';
        emojiArr.forEach((emoji, index) => {
            EmojiHtmlsTemp += '<button class="btn-emoji">' + emoji.unicode + '</button>';
            if ((index + 1) % 27 == 0) {
                EmojiHtmlsTemp += '</div>';
                EmojiHtmls += EmojiHtmlsTemp;
                EmojiHtmlsTemp = '<div class="swiper-slide">';
            }
            if ((index + 1) % 27 > 0) {
                if (index === emojiArr.length - 1) {
                    EmojiHtmlsTemp += '</div>';
                    EmojiHtmls += EmojiHtmlsTemp;
                }
            }
        })
        $(".swiper-emoji .swiper-wrapper").html(EmojiHtmls);
        var swiper = new Swiper(".swiper-emoji", {
            loop: false,
            autoplay: false,
            pagination: {
                el: ".tool-emoji .swiper-pagination",
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + "</span>";
                },
            },
        });
        //初始化表情结束
        //表情输入
        $(".tool-emoji").delegate('.btn-emoji', 'click', function (e) {
            var emojiTxt = $.trim($(this).text());
            const start = $("#textareaChatInput")[0].selectionStart;
            const end = $("#textareaChatInput")[0].selectionEnd;
            $("#textareaChatInput").val($("#textareaChatInput").val().slice(0, start) + emojiTxt + $("#textareaChatInput").val().slice(end));
            $("#textareaChatInput").focus();
            $("#textareaChatInput")[0].selectionEnd = start + emojiTxt.length;
            // 创建一个 InputEvent 对象
            const inputEvent = new InputEvent('input', {
                bubbles: true,
                cancelable: true
            });
            // 使用 dispatchEvent() 方法触发 input 事件
            $("#textareaChatInput")[0].dispatchEvent(inputEvent);
        });
        //表情删除
        $(".tool-emoji .btn-emoji_del").click(function () {
            const start = $("#textareaChatInput")[0].selectionStart;
            const end = $("#textareaChatInput")[0].selectionEnd;
            if (start === 0) {
                $("#textareaChatInput").focus();
                $("#textareaChatInput")[0].selectionEnd = start;
                return;
            }
            var inputText = $("#textareaChatInput").val();
            var preInputArr = Array.from(inputText.slice(0, start));
            var delText = preInputArr.pop();
            $("#textareaChatInput").val(preInputArr.join('') + inputText.slice(end));
            $("#textareaChatInput").focus();
            $("#textareaChatInput")[0].selectionEnd = start - delText.length;
            // 创建一个 InputEvent 对象
            const inputEvent = new InputEvent('input', {
                bubbles: true,
                cancelable: true
            });
            // 使用 dispatchEvent() 方法触发 input 事件
            $("#textareaChatInput")[0].dispatchEvent(inputEvent);
        });
        //表情列表显示隐藏
        $(".form-comment .btn-expression").click(function () {
            if ($(".tool-emoji").hasClass('show')) {
                $(".tool-emoji").removeClass('show');
            } else {
                $("#textareaChatInput").focus();
                $(".tool-emoji").addClass('show');
            }
        });
        $(document).delegate('*', 'click', function (e) {
            if ($(".form-comment .textarea_wp").find(e.target).length > 0 || $(".form-comment .btn-expression").find(e.target).length > 0 || $(".form-comment .btn-expression")[0] == e.target) {
                return;
            }
            if ($(".form-comment .tool-emoji").find(e.target).length == 0) {
                $(".form-comment .tool-emoji").removeClass('show');
            }
        })


</script>
</html>