<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>发现</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-gray">
        <div class="topbar">
            <div class="topbar_inner">
                <div class="topbar_l">
                </div>
                <div class="topbar_c">
                    发现
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-publish">
                        <span class="iconfont icon-search"></span>
                    </a>
                    <a href="" class="btn-publish ml20">
                        <span class="iconfont icon-add"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="list-find">
            <a href="" class="item item-pyq">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_moments"></span>
                    </span>
                    朋友圈
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="" class="item item-scan">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-scan"></span>
                    </span>
                    扫一扫
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-gonggao"></span>
                    </span>
                    公告
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
        </div>
        <div class="tabbar">
            <div class="tabbar_inner">
                <a href="chat.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_chat"></span>
                    </div>
                    聊天
                </a>
                <a href="address_book.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_address_book"></span>
                    </div>
                    通讯录
                </a>
                <a href="find.html" class="item active">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_find_active"></span>
                    </div>
                    发现
                </a>
                <a href="member.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_member"></span>
                    </div>
                    我的
                </a>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>