<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>分组</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    设置分组
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-save">确定</a>
                </div>
            </div>
        </div>
        <div class="panel-friend_grouping">
            <div class="list">
                <label class="item">
                    <div class="name">
                        无
                    </div>
                    <input type="radio" class="input_radio" checked name="group">
                    <span class="iconfont icon-right"></span>
                </label>
                <label class="item">
                    <div class="name">
                        特别关注
                    </div>
                    <input type="radio" class="input_radio" name="group">
                    <span class="iconfont icon-right"></span>
                    <button class="btn-del">
                        <span class="iconfont icon-minus"></span>
                    </button>
                </label>
                <label class="item">
                    <div class="name">
                        家人
                    </div>
                    <input type="radio" class="input_radio" name="group">
                    <span class="iconfont icon-right"></span>
                    <button class="btn-del">
                        <span class="iconfont icon-minus"></span>
                    </button>
                </label>
                <label class="item">
                    <div class="name">
                        同学
                    </div>
                    <input type="radio" class="input_radio" name="group">
                    <span class="iconfont icon-right"></span>
                    <button class="btn-del">
                        <span class="iconfont icon-minus"></span>
                    </button>
                </label>
            </div>
            <button class="btn-blue">
                添加分组
            </button>
            <div class="form">
                <div class="form-inner">
                    <div class="hd">
                        新建分组
                    </div>
                    <div class="bd">
                        <input type="text" value="朋友" class="input_text">
                    </div>
                    <div class="ft">
                        <button class="btn-cancel">取消</button>
                        <button class="btn-confirm">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>