<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>分组</title>
    <script type="text/javascript" src="<%-__theme%>scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                </div>
                <div class="topbar_c">
                    我的分组
                </div>
                <div class="topbar_r">
                    <a href="friend_remark.html" class="btn-add_gray">
                        <span class="iconfont icon-add"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="list-frend_group">
            <div class="searchbox_wp">
                <div class="searchbox">
                    <div class="searchbox_inner">
                        <div class="icon-wp">
                            <span class="iconfont icon-search"></span>
                        </div>
                        <div class="form-control">
                            <input type="text" class="input_text" placeholder="搜索关键词">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="item curr">
                    <div class="item-hd">
                        <span class="icon-wp"><span class="iconfont icon-arr_r_filling"></span></span>未分组
                    </div>
                    <div class="item-bd">
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                刘星
                            </div>
                            <div class="desc">
                                是你太过薄情不肯回头，还是我太过倔强不愿低头
                            </div>
                        </a>
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                肖肖
                            </div>
                            <div class="desc">
                                心就是这般一半苍凉，一半暖生，流年似水浮生若梦
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-hd">
                        <span class="icon-wp"><span class="iconfont icon-arr_r_filling"></span></span>特别关心
                    </div>
                    <div class="item-bd">
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                嬴政
                            </div>
                            <div class="desc">
                                我从来没抱怨过只是偶尔会失望
                            </div>
                        </a>
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">
                                刘秀
                            </div>
                            <div class="desc">
                                你无意一笑便惹我一场心动
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="item-hd">
                        <span class="icon-wp"><span class="iconfont icon-arr_r_filling"></span></span>家人
                    </div>
                    <div class="item-bd">
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">
                                李白
                            </div>
                            <div class="desc">
                                我不是谁的英雄，我只是爱你爱的奋勇
                            </div>
                        </a>
                        <a href="person_info.html" class="item-each">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">
                                齐白石
                            </div>
                            <div class="desc">
                                反正怎么过都是一生
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>