<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>群公告</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-pay_password">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    群公告
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-save">确定</a>
                </div>

            </div>
        </div>
        <div class="form-style1">
            <div class="form-style1_inner">
                <div class="form-group">
                    <label for="" class="label">群公告</label>
                    <textarea type="text" style="height: 3rem;" placeholder="Axure产品组" class="input_textarea" value="">温馨，和谐，礼貌，真诚，不欢迎广告！
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>