<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>群组信息</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-gray">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    群组信息
                </div>
            </div>
        </div>
        <div class="panel-group_info">
            <div class="item-group">
                <div class="item">
                    <a href="group_manager_set.html" class="hd">
                        <div class="hd_l">
                            设置管理员
                        </div>
                        <div class="hd_r">
                            1/10 <span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                </div>
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            仅群主和群管理员可@所有人
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" class="checkbox">
                        </div>
                    </div>
                </label>
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            仅群主和群管理员可添加群组成员
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" class="checkbox">
                        </div>
                    </div>
                </label>
                <div class="item">
                    <a href="group_make.html" class="hd">
                        <div class="hd_l">
                            转让群主
                        </div>
                        <div class="hd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="item-group">
                <div class="item">
                    <a href="" class="hd">
                        <div class="hd_l">
                            设置入群密码
                        </div>
                        <div class="hd_r">
                            为设置 <span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-group">
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            允许行成员查看历史记录
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" class="checkbox">
                        </div>
                    </div>
                </label>
            </div>
            <button class="btn-blue">
                解散群组
            </button>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>