<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Axure产品群</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
    <link rel="stylesheet" href="styles/swiper-bundle.min.css" />
</head>

<body>
    <div class="wp wp-gray">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    群组信息
                </div>
                <div class="topbar_r">
                </div>
            </div>
        </div>
        <div class="panel-group_info">
            <div class="item-group">
                <div class="item item-members">
                    <a href="group_make.html" class="hd">
                        <div class="hd_l">
                            群聊成员
                        </div>
                        <div class="hd_r">
                            查看全部成员<span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                    <div class="bd">
                        <div class="item_member">
                            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                            <div class="name">肖肖</div>
                        </div>
                        <div class="item_member">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">刘星</div>
                        </div>
                        <div class="item_member">
                            <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                            <div class="name">王站</div>
                        </div>
                        <div class="item_member">
                            <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                            <div class="name">范仲淹</div>
                        </div>
                        <a href="group_make.html" class="item_btn">
                            <div class="icon-wp">
                                <span class="iconfont icon-add"></span>
                            </div>
                            <div class="name">邀请</div>
                        </a>
                        <a href="group_make.html" class="item_btn">
                            <div class="icon-wp">
                                <span class="iconfont icon-minus"></span>
                            </div>
                            <div class="name">删除</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item-group">
                <div class="item">
                    <a href="group_name_modify.html" class="hd">
                        <div class="hd_l">
                            群名称
                        </div>
                        <div class="hd_r">
                            Axure产品群<span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                </div>
                <a href="group_desc_modify.html" class="item">
                    <div class="hd">
                        <div class="hd_l">
                            群说明
                        </div>
                    </div>
                    <div class="bd">
                        <div class="bd_l">
                            这里是进行讨论Axure产品的讨论群组，涉及To B产品、saas产品、原型设计等等。
                        </div>
                        <div class="bd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
                <a href="group_ann_modify.html" class="item">
                    <div class="hd">
                        <div class="hd_l">
                            群公告
                        </div>
                    </div>
                    <div class="bd">
                        <div class="bd_l">
                            温馨，和谐，礼貌，真诚，不欢迎广告！
                        </div>
                        <div class="bd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
                <div class="item">
                    <a href="qrcode_group.html" class="hd">
                        <div class="hd_l">
                            二维码
                        </div>
                        <div class="hd_r">
                            <span class="iconfont icon-qrcode"></span>
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-group">
                <a href="group_grouping.html" class="item">
                    <div class="hd">
                        <div class="hd_l">
                            群分组
                        </div>
                        <div class="hd_r">
                            未分组
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
                <a href="group_manage.html" class="item">
                    <div class="hd">
                        <div class="hd_l">
                            群管理
                        </div>
                        <div class="hd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            全员禁言
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" class="checkbox">
                        </div>
                    </div>
                </label>
            </div>
            <div class="item-group">
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            置顶聊天
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" checked class="checkbox">
                        </div>
                    </div>
                </label>
            </div>
            <div class="item-group">
                <label class="item">
                    <div class="hd">
                        <div class="hd_l">
                            消息免打扰
                        </div>
                        <div class="hd_r">
                            <input type="checkbox" class="checkbox">
                        </div>
                    </div>
                </label>
            </div>
            <div class="item-group">
                <a href="chat_background.html" class="item">
                    <div class="hd">
                        <div class="hd_l">
                            聊天背景
                        </div>
                        <div class="hd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <button class="item">
                    <div class="hd">
                        <div class="hd_l">
                            清空聊天记录
                        </div>
                        <div class="hd_r">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>