<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>登录</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="images/icon/spriteMobile.css" />
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
</head>

<body>
    <div class="wp">
        <div class="form-login">
            <div class="hd">
                <img src="images/logo.png" class="logo" alt="">
            </div>
            <div class="bd">
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">账号</div>
                        <input type="text" class="input_text" placeholder="输入您的账号/手机号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">密码</div>
                        <input type="password" class="input_text" placeholder="请输入登录密码">
                    </div>
                </div>
            </div>
            <div class="ft">
                <button class="btn-submit">立即登录</button>
            </div>
            <div class="ext">
                <a href="register.html">
                    还没有账号？立即注册
                </a>
                <a href="login_pasword_reset.html">忘记密码？</a>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/swiper-bundle.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>