<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>找回密码</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-pay_password">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    找回密码
                </div>
            </div>
        </div>
        <div class="form-style1">
            <div class="form-style1_inner">
                <div class="form-group form-group_mobile">
                    <label for="" class="label">手机号</label>
                    <select class="select">
                        <option value="">+86</option>
                    </select><input type="text" placeholder="请输入手机号" class="input_text" value="">
                </div>
                <div class="form-group form-group_verify_code">
                    <label for="" class="label">验证码</label>
                    <input type="text" class="input_text" value="125635">
                    <button class="btn-get_chkcode">获取验证码</button>
                </div>
                <a href="login_pasword_reset1.html" class="btn-submit">下一步</a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>