<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>我的</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>
<body>
    <div class="wp wp-member">
        <div class="panel-member_userinfo">
            <a href="qrcode.html" class="hd">
                <div class="hd_l">
                    <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                </div>
                <div class="hd_c">
                    <div class="name">我是胡歌呀</div>
                    <div class="user_id">
                        ID:4555101235
                    </div>
                </div>
                <div class="hd_r">
                    <div class="more">
                        <div class="icon-wp">
                            <span class="iconfont icon-qrcode"></span>
                        </div>
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </div>
            </a>
            <div class="bd">
                <a href="sign.html" data-link class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-sign"></span>
                    </div>
                    每日签到
                </a>
                <a href="wallet.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-wallet"></span>
                    </div>
                    我的钱包
                </a>
            </div>
        </div>
        <div class="list-member_menu">
            <a href="profile.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_profile"></span>
                    </span>
                </div>
                <div class="item_c">
                    个人资料
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="collect.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_collect"></span>
                    </span>
                </div>
                <div class="item_c">
                    我的收藏
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="moments.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_moments"></span>
                    </span>
                </div>
                <div class="item_c">
                    朋友圈
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="sign.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_sign_record"></span>
                    </span>
                </div>
                <div class="item_c">
                    签到记录
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="chat_box.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_customer_service"></span>
                    </span>
                </div>
                <div class="item_c">
                    联系客服
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <a href="setting.html" class="item">
                <div class="item_l">
                    <span class="icon-wp">
                        <span class="iconfont icon-menu_setting"></span>
                    </span>
                </div>
                <div class="item_c">
                    设置
                </div>
                <div class="item_r">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
        </div>
        <div class="tabbar">
            <div class="tabbar_inner">
                <a href="chat.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_chat"></span>
                    </div>
                    聊天
                </a>
                <a href="address_book.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_address_book"></span>
                    </div>
                    通讯录
                </a>
                <a href="find.html" class="item">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_find"></span>
                    </div>
                    发现
                </a>
                <a href="member.html" class="item active">
                    <div class="icon-wp">
                        <span class="iconfont icon-tabbar_member_active"></span>
                    </div>
                    我的
                </a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
</html>