<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>朋友圈</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-moments">
        <div class="topbar">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="address_book.html" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                </div>
                <div class="topbar_r">
                    <a href="moments_publish.html" class="btn-publish">
                        <span class="iconfont icon-publish"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-find_user_info">
            <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
            <div class="name">我是胡歌呀</div>
            <div class="txt-motto">
                强大自己才是解决问题的关键
            </div>
        </div>
        <div class="list-moments">
            <div class="container">
                <div class="item">
                    <div class="item_l">
                        <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
                    </div>
                    <div class="item_r">
                        <div class="name">
                            微笑
                        </div>
                        <div class="time">
                            15分钟前
                        </div>
                        <div class="content">
                            茫茫人海，相遇即是有缘，请好好珍惜！
                        </div>
                        <div class="img-group img-group_1">
                            <div class="img-wp">
                                <img src="images/img_find1.jpg" alt="">
                            </div>
                        </div>
                        <div class="toolbar">
                            <div class="toolbar_l">
                                <button class="btn-collect">
                                    <span class="iconfont icon-collect"></span>
                                </button>
                                <button class="btn-favorite">
                                    <span class="iconfont icon-favorite"></span>
                                </button>
                            </div>
                            <div class="toolbar_r">
                                <a href="comment.html" class="btn-operate">
                                    <!-- <div class="icon-wp">
                                        <span class="iconfont icon-operate"></span>
                                    </div> -->
                                    评论
                                </a>
                            </div>
                        </div>
                        <div class="comment-content">
                            <div class="item-comment">
                                <a href="profile.html" class="name">李太白</a>:🤭感谢我从未拥有你钟意一生的面孔，才可换来现如今密不透风的百分百笑容
                            </div>
                            <div class="item-comment">
                                <a href="profile.html" class="name">李太白</a>:感谢我从未拥有你钟意一生的面孔，才可换来现如今密不透风的百分百笑容🤭
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item_l">
                        <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                    </div>
                    <div class="item_r">
                        <div class="name">
                            惊鸿一瞥
                        </div>
                        <div class="time">
                            15分钟前
                        </div>
                        <div class="content">
                            单枪匹马你别怕，一腔孤勇又如何，这一路，你可以哭，但不能怂。
                        </div>
                        <div class="img-group img-group_1">
                            <div class="img-wp">
                                <img src="images/img_find2.jpg" alt="">
                            </div>
                        </div>
                        <div class="toolbar">
                            <div class="toolbar_l">
                                <button class="btn-collect">
                                    <span class="iconfont icon-collect_active"></span>
                                </button>
                                <button class="btn-favorite">
                                    <span class="iconfont icon-favorite"></span>
                                </button>
                            </div>
                            <div class="toolbar_r">
                                <a href="comment.html" class="btn-operate">
                                    <!-- <div class="icon-wp">
                                        <span class="iconfont icon-operate"></span>
                                    </div> -->
                                    评论
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="item_l">
                        <div class="avatar" style="background-image: url(images/avatar3.png);"></div>
                    </div>
                    <div class="item_r">
                        <div class="name">
                            待到山花烂漫时
                        </div>
                        <div class="time">
                            15分钟前
                        </div>
                        <div class="content">
                            要努力，要酷，要做一个可爱的人！
                        </div>
                        <div class="img-group img-group_2">
                            <div class="img-wp">
                                <img src="images/img_find3.jpg" alt="">
                            </div>
                            <div class="img-wp">
                                <img src="images/img_find4.jpg" alt="">
                            </div>
                        </div>
                        <div class="toolbar">
                            <div class="toolbar_l">
                                <button class="btn-collect">
                                    <span class="iconfont icon-collect_active"></span>
                                </button>
                                <button class="btn-favorite">
                                    <span class="iconfont icon-favorite_active"></span>
                                </button>
                            </div>
                            <div class="toolbar_r">
                                <a href="comment.html" class="btn-operate">
                                    <!-- <div class="icon-wp">
                                        <span class="iconfont icon-operate"></span>
                                    </div> -->
                                    评论
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>