<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>个人信息</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-person_info">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    个人信息
                </div>
                <div class="topbar_r">
                </div>
            </div>
        </div>
        <div class="hd">
            <div class="hd_l">
                <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
            </div>
            <div class="hd_r">
                <div class="name">Lubbock</div>
                <div class="user_id">账号：154231321</div>
            </div>
        </div>
        <div class="bd">
            <div class="item-group">
                <a href="friend_remark.html" class="item">
                    <div class="item_l">
                        备注名
                    </div>
                    <div class="item_r">
                        伊娃伊娃
                        <div class="icon-wp">
                            <span class="iconfont icon-edit"></span>
                        </div>
                    </div>
                </a>
                <a href="friend_grouping.html" class="item">
                    <div class="item_l">
                        分组
                    </div>
                    <div class="item_r">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <a href="moments.html" class="item">
                    <div class="item_l">
                        朋友圈
                    </div>
                    <div class="item_r">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ft">
            <button class="btn-delete">删除好友</button>
            <a href="chat_box.html" class="btn-chat">聊天</a>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>

</html>