<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>个人资料</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-profile">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    个人资料
                </div>
                <div class="topbar_r">
                </div>
            </div>
        </div>
        <div class="hd">
            <div class="hd_l">
                <div class="avatar" style="background-image: url(images/avatar1.png);"></div>
            </div>
            <div class="hd_r">
                <div class="name">我是胡歌呀</div>
            </div>
            <a href="avatar_upload.html" class="btn-upload">
                头像 <span class="iconfont icon-arr_r"></span>
            </a>
        </div>
        <div class="bd">
            <div class="item-group">
                <a href="nickname_reset.html" class="item">
                    <div class="item_l">
                        昵称
                    </div>
                    <div class="item_r">
                        我是胡歌呀
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
                <a href="sex_reset.html" class="item">
                    <div class="item_l">
                        性别
                    </div>
                    <div class="item_r">
                        女
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <a href="qianming_reset.html" class="item">
                    <div class="item_l">
                        个性签名
                    </div>
                    <div class="item_r">
                        欲买桂花同载酒，均不是少年游
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <a href="mobile_reset.html" class="item">
                    <div class="item_l">
                        手机号
                    </div>
                    <div class="item_r">
                        18688886666
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_r"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>

</html>