<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>群二维码</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-qrcode">
        <div class="topbar">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                        群二维码
                    </a>
                </div>
                <div class="topbar_c">
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-more">
                        <span class="iconfont icon-more"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-qrcode">
            <div class="hd">
                <div class="avatar" style="background-image: url(images/avatar2.png);"></div>
                <div class="name">Axure产品组</div>
            </div>
            <div class="bd">
                <div class="img-wp">
                    <!-- qrcode 470*470 -->
                    <img src="images/qrcode.png" alt="">
                </div>
                <div class="desc">
                    扫一扫上面的二维码图案，加入群聊
                </div>
            </div>
            <div class="ft">
                <button class="btn-download">
                    <div class="icon-wp">
                        <span class="iconfont icon-download"></span>
                    </div>
                    保存图片
                </button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>

</html>