<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>注册</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="images/icon/spriteMobile.css" />
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
</head>

<body>
    <div class="wp">
        <div class="form-register">
            <div class="hd">
                <img src="images/logo.png" class="logo" alt="">
            </div>
            <div class="bd">
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">手 机 号</div>
                        <input type="text" class="input_text" placeholder="输入您的手机号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">设置密码</div>
                        <input type="password" class="input_text" placeholder="密码为6~13位数字、字母或符号">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">确认密码</div>
                        <input type="password" class="input_text" placeholder="请再次确认密码">
                    </div>
                </div>
                <div class="form-group checkbox">
                    <label><input type="checkbox" checked class="input_checkbox"> 我已阅读并同意<a href="">《注册协议》</a></label>
                </div>
            </div>
            <div class="ft">
                <button class="btn-submit">立即注册</button>
            </div>
            <div class="ext">
                <a href="login.html">
                    已有账号？立即登录
                </a>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/swiper-bundle.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>