<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>签到记录</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                        签到记录
                    </a>
                </div>
                <div class="topbar_c">
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-rule">
                        规则
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-sign_record">
            <div class="container">
                <div class="item">
                    <div class="hd">
                        已连续签到
                    </div>
                    <div class="bd">
                        1天
                    </div>
                </div>
                <div class="item">
                    <div class="hd">
                        签到获得余额
                    </div>
                    <div class="bd">
                        15620.0
                    </div>
                </div>
                <div class="item">
                    <button class="btn btn-disabled">
                        今日已签
                    </button>
                </div>
            </div>
        </div>
        <div class="list-style2">
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item_l">
                    <div class="name">签到成功</div>
                    <div class="time">
                        今天 15:30
                    </div>
                </div>
                <div class="item_r">
                    <div class="val">
                        +100.0
                    </div>
                    <div class="key">
                        获得余额
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>

</html>