<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>钱包</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp wp-wallet">
        <div class="topbar">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                        钱包
                    </a>
                </div>
                <div class="topbar_c">
                </div>
                <div class="topbar_r">
                </div>
            </div>
        </div>
        <div class="panel-wallet">
            <div class="hd">
                <div class="key">
                    我的余额<span class="icon-wp"><span class="iconfont icon-show"></span></span>
                </div>
                <div class="val" data-value="5200.00">
                    5200.00U
                </div>
            </div>
            <div class="bd">
                <a href="withdraw.html" class="item">提现</a>
                <a href="" class="item">充值</a>
            </div>
        </div>
        <div class="list-wallet_menu">
            <div class="item-group">
                <a href="account.html" class="item item-account">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_account"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        账户信息
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="wallet_record.html" class="item item-wallet_record">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_wallet_record"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        钱包明细
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="" class="item item-hongbao_record">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_hongbao_record"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        红包记录
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <a href="bank.html" class="item item-bank">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_bank"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        银行卡
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
                <a href="usdt.html" class="item item-usdt">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_usdt"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        USDT
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
            </div>
            <div class="item-group">
                <a href="setting.html" class="item item-security">
                    <div class="item_l">
                        <span class="icon-wp">
                            <span class="iconfont icon-menu_security"></span>
                        </span>
                    </div>
                    <div class="item_c">
                        安全设置
                    </div>
                    <div class="item_r">
                        <span class="iconfont icon-arr_r"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>