<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>提现</title>
    <script type="text/javascript" src="scripts/rem.js"></script>
    <link rel="stylesheet" href="styles/default.css" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/iconfont/iconfont.css" />
</head>

<body>
    <div class="wp">
        <div class="topbar topbar_fixed">
            <div class="topbar_inner">
                <div class="topbar_l">
                    <a href="" class="btn-back">
                        <div class="icon-wp">
                            <span class="iconfont icon-arr_l"></span>
                        </div>
                    </a>
                </div>
                <div class="topbar_c">
                    提现
                </div>
                <div class="topbar_r">
                    <a href="" class="btn-more">
                        <div class="icon-wp">
                            <span class="iconfont icon-more"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-widthdraw">
            <a href="" class="hd">
                <div class="type">到账银行卡</div>
                <div class="bank_info">
                    中国银行（5030）
                </div>
                <div class="time">
                    24小时内到账
                </div>
                <div class="icon-wp">
                    <span class="iconfont icon-arr_r"></span>
                </div>
            </a>
            <div class="bd">
                <div class="form-group">
                    <div class="label">
                        提现金额
                    </div>
                    <label class="form-control">
                        <input type="number" value="500" class="input_text">
                        <div class="input_text_show"></div><span class="flag">U</span>
                    </label>
                    <div class="ext">
                        当前余额 5632.00U
                        <button class="btn-all">全部体现</button>
                    </div>
                </div>
            </div>
            <div class="ft tc">
                <button class="btn-blue">提现</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/common.js"></script>

</html>