<!DOCTYPE html>
<html lang="zh-CN">
<%
  // let stock_zh_a_hist = await this.require('./aktools_show.fet').stock_zh_a_hist.call(this,'000001');
    // console.log(stock_zh_a_hist);
    // return this.context.toJSON(stock_zh_a_hist);

    //股票数据
    let aktools = this.require('/utils/aktools.js');
    let aktoolsInstance = new aktools(this.context,this.app);

%>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <title>股票面板</title>
  <link rel="stylesheet" type="text/css" href="/public/scripts/element-ui/index.css">
  <style>
    .el-color-up {
      color: #ef49ad;
    }

    .el-color-down {
      color: #668e13
    }
    .iframe_wp{
      width:66.6%;
      height:0;
      position:absolute;
      padding-bottom:37.5%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      background:#fff;
      z-index:1000;
      box-shadow:0 2px 4px #574845;
    }
    .iframe_wp iframe{
      width:100%;
      height:100%;
      position:absolute;
    }
  </style>

</head>

<body>

  <%
  // <form action="/aktools_show.ejs" target="_self" method="get">
  //   <input type="text" name="code" value="" placeholder="清输入股票简称"> <button type="submit">查询</button>
  // </form>
  %>
  <div id="app">
    <el-tabs v-model="activeName" type="card" @tab-click="handleCardClick">
      <el-tab-pane label="全部" name="all"></el-tab-pane>
      <el-tab-pane label="沪市主板" name="沪市主板"></el-tab-pane>
      <el-tab-pane label="深市主板" name="深市主板"></el-tab-pane>
      <el-tab-pane label="创业板" name="创业板"></el-tab-pane>
      <el-tab-pane label="科创板" name="科创板"></el-tab-pane>
      <el-tab-pane label="B股" name="B股"></el-tab-pane>
      <el-tab-pane label="新三板" name="新三板"></el-tab-pane>
    </el-tabs>
    <el-input placeholder="请输入股票拼音简称/或者代码" v-model="stock_pinyin" @blur="searchStock" clearable>
    </el-input>
    <el-table @sort-change="handleSortChange" :data="stockCurrentPage" style="width: 100%" height="700" :default-sort="{prop: sortProp, order: sortOrder1}" :row-class-name="rowClassName" @row-click="rowClick" :row-style="function(row){return row.row.show?{display:'table-row'}:{display:'none'}}" :key="tableKey" :cell-style="rowStyleFunction">
      <el-table-column prop="code" label="股票代码" sortable width="180">
      </el-table-column>
      <el-table-column prop="name" label="股票简称" sortable width="180">
      </el-table-column>
      <el-table-column prop="开盘" sortable label="开盘">
      </el-table-column>
      <el-table-column prop="收盘" sortable label="收盘">
      </el-table-column>
      <el-table-column prop="最新价" sortable label="最新价">
      </el-table-column>
      <el-table-column prop="涨跌幅" sortable label="涨跌幅">
      </el-table-column>
      <el-table-column prop="涨速" sortable label="涨速">
      </el-table-column>
      <el-table-column prop="换手率" sortable label="换手率">
      </el-table-column>
      <el-table-column prop="成交量" sortable label="成交量">
      </el-table-column>
      <el-table-column prop="成交额" sortable label="成交额">
      </el-table-column>
      <el-table-column prop="振幅" sortable label="振幅">
      </el-table-column>
      <el-table-column prop="最低" sortable label="最低">
      </el-table-column>
      <el-table-column prop="最高" sortable label="最高">
      </el-table-column>
      <el-table-column prop="涨跌额" sortable label="涨跌额">
      </el-table-column>
    </el-table>
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[100, 200, 300, 400]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="stockData.length">
    </el-pagination>
    <button class="btn_stock_zh_a_spot_em" @click="stockZhASpotEm">{{realTime ? '暂停实时行情' : '展示实时行情'}}</button>
    <button @click="screen">筛选</button>
    <div class="iframe_wp" v-if="showChart">
        <iframe :src="chartSrc" scrolling="no" allowtransparency="false"  frameborder="0"></iframe>
    </div>
  </div>
  <button class="btn_hist_daily_update">更新 hist_daily表</button>
  <button class="btn_hist_lastday_update">从表hist_daily中更新最后一天股票信息到hist_lastday表中</button>
  <script src="/public/scripts/jquery.min.js"></script>
  <script src="/public/scripts/vue.min.js"></script>
  <script src="/public/scripts/element-ui/index.js"></script>
  <script src="/public/scripts/lodash.js"></script>
  <script>
    let appVue = new Vue({
      el: '#app',
      data: {
        showChart:false,
        chartSrc:'',
        realTime:false,
        timerId: null, // 用于存储setTimeout的ID
        activeName: 'all',
        sortProp: 'code',
        sortOrder: 'asc',
        sortOrder1: 'descending',
        currentPage: 1,
        pageSize: 100,
        stock_pinyin: '',
        tableKey: 0,
        stockCurrentPage: [{
          code: '',
          created_at: '',
          flag: '',
          hist_daily: '',
          id: '',
          name: '',
          pinyin: '',
          show: '',
          updated_at: '',
          开盘: '',
          最新价:'',
          涨速:'',
          量比:'',
          成交量: '',
          成交额: '',
          振幅: '',
          换手率: '',
          收盘: '',
          日期: '',
          最低: '',
          最高: '',
          涨跌幅: '',
          涨跌额: '',
          股票代码: ''
        }],
        stockData: [{
          code: '',
          created_at: '',
          flag: '',
          hist_daily: '',
          id: '',
          name: '',
          pinyin: '',
          show: '',
          updated_at: '',
          开盘: '',
          最新价:'',
          涨速:'',
          量比:'',
          成交量: '',
          成交额: '',
          振幅: '',
          换手率: '',
          收盘: '',
          日期: '',
          最低: '',
          最高: '',
          涨跌幅: '',
          涨跌额: '',
          股票代码: ''
        }],
        stockDataOrg: [{
          code: '',
          created_at: '',
          flag: '',
          hist_daily: '',
          id: '',
          name: '',
          pinyin: '',
          show: '',
          updated_at: '',
          开盘: '',
          最新价:'',
          涨速:'',
          量比:'',
          成交量: '',
          成交额: '',
          振幅: '',
          换手率: '',
          收盘: '',
          日期: '',
          最低: '',
          最高: '',
          涨跌幅: '',
          涨跌额: '',
          股票代码: ''

        }]
      },
      mounted: async function() {
        await this.hist_lastday_get();
        let that = this;
        $(document).on('keyup',function(e){
          if(e.keyCode==27){
            that.$data.showChart = false;
            that.$data.chartSrc = '';
          }
        })
      },
      methods: {
        screen(){
          let that = this;
          $.get('/aktools?type=screen',function(data){
            console.log(data);
            let arr = [];
            that.$data.stockDataOrg.forEach(item=>{
              let findItem = data.filter(itemCurr=>{return itemCurr === item['股票代码']});
              if(findItem.length===0||(~(item['name'].indexOf('ST')))||item['总市值']<20e8||item['总市值']>80e8||item['flag']=='科创板'||item['flag']=='B股'||item['flag']=='新三板'||item['市盈率-动态']<0){
                item.show = false;
              }else{
                console.log(item.code);
                arr.push(item.code);
                item.show = true;
              }
            });
            console.log(arr.join('\n'));
            that.updateRender();
          })
        },
        rowClick(row){
          let that = this;
          $(document).undelegate('*','click.rowClick')
          // this.chartSrc = 'https://quote.eastmoney.com/basic/h5chart-iframe.html?code='+row.code;
          this.chartSrc = 'https://gu.qq.com/'+row.code;
          const screenWidth = window.screen.width;
          const screenHeight = window.screen.height;
           // 计算新窗口的 left 和 top 值，使其居中
          const left = (screenWidth - 1200) / 2;
          const top = (screenHeight - 800) / 2;
          let code = row.code;
          if(row.code.indexOf('6')==0){
            code = 'sh'+row.code+'/gp'
          }
          if(row.code.indexOf('3')==0){
            code = 'sz'+row.code+'/gp'
          }
          if(row.code.indexOf('0')==0){
            code = 'sz'+row.code+'/gp'
          }
          window.open('https://gu.qq.com/'+code, "exampleWindow", `width=1200,height=800,left=${left},top=${top}`);
          //this.showChart = true;
          setTimeout(function(){
            $(document).delegate('*','click.rowClick',function(){
              if(that.$data.showChart){
                  that.$data.showChart = false;
                  that.$data.chartSrc = '';
                }
            })
          },100)
        },
        rowStyleFunction(row){
          if(row.column.label==='涨速'){
            if(row.row['涨速']>0){
              return {color:'#ef49ad'}
            }else if(row.row['涨速']<0){
              return {color:'#668e13'}
            }
          };
        },
        stockZhASpotEmIn(){
          let that = this;
          console.time();
            $.get('/aktools?type=stock_zh_a_spot_em',function(data){
                // item['最新价'] = '-';
                // item['涨速'] = '-';
                // item['量比']  ='-';
            that.$data.stockDataOrg.forEach((item,index)=>{
              let findItem = {};
              findItem['代码'] = item.code;
              let rowEach = _.filter(data,findItem);
              if(rowEach.length>0){
                item = Object.assign(item,rowEach[0]);
                // item['最新价'] = rowEach[0]['最新价'];
                // item['涨速'] = rowEach[0]['涨速'];
                // item['量比'] = rowEach[0]['量比'];
                //that.$set(that.$data.stockDataOrg,index,item);
              }
            });
            // that.$forceUpdate();
            that.updateRender();
            console.timeEnd();
            if(that.$data.realTime){
              that.$data.timerId = setTimeout(function(){
                  that.stockZhASpotEmIn()
              },10);
            }
          })

        },
        stockZhASpotEm(){
          let that = this;
          if(that.$data.realTime){
            clearTimeout(that.$data.timerId);
            that.$data.realTime = false;
            console.log(222);
            return;
          }
          that.$data.realTime = true;
          that.stockZhASpotEmIn();
        },
        handleCardClick(tab, event) {
          //选项卡切换
          console.log(tab, event);
          this.searchStock();
          this.updateRender();
        },
        handleSortChange(data) {
          // 排序
          console.log(data);
          let sort = 'asc';
          this.sortOrder1 = data.order;
          if (data.order === 'descending') {
            this.sortOrder = 'desc';
          }
          if (data.order === 'ascending') {
            this.sortOrder = 'asc';
          }
          this.sortProp = data.prop;
          this.updateRender();
          return;
        },
        handleSizeChange(val) {
          this.pageSize = val;
          this.updateRender();
          // console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
          this.currentPage = val;
          this.updateRender();
          // console.log(`当前页: ${val}`);
        },
        updateRender() {
          this.$data.stockData = [];
          this.$data.stockDataOrg.forEach(item => {
            if (item.show === true) {
              // 分类筛选
              if (this.activeName === 'all') {
                this.$data.stockData.push(item);
              } else if (item.flag === this.activeName) {
                this.$data.stockData.push(item);
              }
            }
          });
          // 排序
          this.$data.stockData = _.orderBy(this.$data.stockData, [this.sortProp], [this.sortOrder]);
          this.$data.stockCurrentPage = [];
          let pageDataStartIndex = (this.currentPage - 1) * this.pageSize;
          console.log(333);
          for (let i = pageDataStartIndex; i < this.pageSize * this.currentPage; i++) {
            if (this.$data.stockData[i]) {
              this.$data.stockCurrentPage.push(this.$data.stockData[i]);
            }
          }
        },
        searchStock() {
          if (this.stock_pinyin == '') {
            this.$data.stockDataOrg.forEach(item => {
              item.show = true;
            });
          } else {
            let letter = this.stock_pinyin.replace(/\s+/g, '').toLowerCase();
            var reg = /^\d{1,6}$/;
            this.$data.stockDataOrg.forEach(item => {
              if (item.pinyin.toLowerCase().indexOf(letter) === 0||(item['code'].indexOf(letter)===0)) {
                item.show = true;
              } else {
                item.show = false;
              }
            })
          }
          console.log(111);
          this.updateRender();
          this.$data.tableKey++;
        },
        rowClassName({
          row
        }) {
          if (row['涨跌幅'] > 0) {
            return 'el-color-up';
          } else if (row['涨跌幅'] < 0) {
            return 'el-color-down';
          }
        },
        async hist_lastday_get() {
          let that = this;
          return new Promise((resolve, reject) => {
            $.get('/aktools?type=btn_hist_lastday_get', function(data) {
              that.$data.stockDataOrg = data;
              that.$data.stockDataOrg.forEach(item => {
                that.$set(item,'最新价','-');
                that.$set(item,'涨速','-');
                that.$set(item,'量比','-');
                that.$set(item,'show',true);
              });
              that.updateRender();
              resolve(true)
            })
          });
        },
        formatter(row, column) {
          return row.address;
        }
      }
    });

    let stockData = '';
    $(".btn_hist_daily_update").click(function() {
      $.get('/aktools?type=btn_hist_daily_update', function(e) {
        console.log(e);
      })
    });
    $(".btn_hist_lastday_update").click(function() {
      $.get('/aktools?type=hist_lastday_update', function(e) {
        console.log(e);
      })
    });
  </script>
  <script>
  <% // 关闭从本地数据库读取数据 %>
    let stockAll = <%- JSON.stringify(await aktoolsInstance.stock_info_a_code_name(false));%>;
    console.log(stockAll);
  </script>
</body>

</html>